---
layout: fullwidth
---

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

    {{ content }}

{% assign posts = site.categories[page.category] %}

  <style type="text/css" media="screen">
    .site-nav {
      z-index: 3;
    }
    .start-page .switch {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 16;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .start-page .switch .switch-link .bg:hover {
      -webkit-filter: grayscale(0%) brightness(100%) contrast(120%);
      filter: grayscale(0%) brightness(100%) contrast(120%);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: -webkit-filter .25s ease-in-out;
      transition: -webkit-filter .25s ease-in-out;
      -o-transition: filter .25s ease-in-out;
      transition: filter .25s ease-in-out;
      transition: filter .25s ease-in-out,-webkit-filter .25s ease-in-out;
      -webkit-transition: -webkit-transform .75s ease-in-out;
      transition: -webkit-transform .75s ease-in-out;
      -o-transition: transform .75s ease-in-out;
      transition: transform .75s ease-in-out;
      transition: transform .75s ease-in-out,-webkit-transform .75s ease-in-out;
    }
    .start-page .switch .switch-link .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      -webkit-filter: grayscale(0%) brightness(100%) contrast(100%);
      filter: grayscale(0%) brightness(100%) contrast(100%);
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: -webkit-filter .25s ease-in-out;
      transition: -webkit-filter .25s ease-in-out;
      -o-transition: filter .25s ease-in-out;
      transition: filter .25s ease-in-out;
      transition: filter .25s ease-in-out,-webkit-filter .25s ease-in-out;
      -webkit-transition: -webkit-transform .25s ease-in-out;
      transition: -webkit-transform .25s ease-in-out;
      -o-transition: transform .25s ease-in-out;
      transition: transform .25s ease-in-out;
      transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
    }
    .start-page .switch .switch-link {
      display: inline-block;
      position: relative;
      overflow: hidden;
      height: calc(100vh - 80px - 106px);
      min-height: 520px;
    }
    .start-page .switch .switch-link .title {
      color: #fff;
      position: absolute;
      top: 80%;
      display: block;
      font-family: Arial-Black,Arial,sans-serif;
      font-size: 34px;
      line-height: 1em;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      pointer-events: none;
      z-index: 3;
      width: 100%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  </style>
  
<section class="start-page">
    <div class="switch links">

    {% for post in site.categories[page.category] %}

    <style type="text/css" media="screen">
    .start-page .switch .switch-link.{{ post.slug }} .bg {
      background: url(..{{ post.bg }}) 50% 50% no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
    .start-page .switch .switch-link.{{ post.slug  }} {
      width: {{ 100.0 | divided_by: 3}}%;
    }
    </style>

    <a class="switch-link {{ post.slug  }}" href="{{ post.url }}">
      <div class="bg"></div>
      <span class="title">
        {{ post.title }}
      </span>
    </a>

    {% endfor %}

    </div>
  </section>